<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Buffet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Index">
                    <img src="https://cdn.nohat.cc/thumb/f/720/comvecteezy623084.jpg" width="65" height="65" />
                    Buffet
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="PanelUser">Painel de Usuário</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Help">Ajuda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Acesso" asp-action="Login">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="float-left ml-4">
        <div class="list-group   text-center border border-dark rounded-right shadow-lg">
            <div class="bg-dark text-light text-center p-3">Menu</div>
            <div class="dropdown">
                <button class="btn-outline-secondary  dropdown-toggle  list-group-item list-group-item-action px-5 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Clientes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Clientes">Listagem de Clientes</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Create">Cadastrar Cliente</a>
                </div>
            </div>
            
            <div class="dropdown">
                <button class="btn-outline-secondary  dropdown-toggle  list-group-item list-group-item-action px-5 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Eventos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Session">Listagem de Eventos</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Session">Cadastrar Evento</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn-outline-secondary  dropdown-toggle  list-group-item list-group-item-action px-5 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Locais
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="Local" asp-action="Locais">Listagem de Locais</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Local" asp-action="Create">Cadastrar Local</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn-outline-secondary  dropdown-toggle  list-group-item list-group-item-action px-5 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Configurações
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="" asp-controller="TipoEvento" asp-action="TipoEventos">Tipos de Eventos</a>
                    <a class="dropdown-item" asp-area="" asp-controller="SituacaoEvento" asp-action="SituacaoEventos">Situações de Eventos</a>
                    <a class="dropdown-item" asp-area="" asp-controller="SituacaoConvidado" asp-action="SituacaoConvidados">Situações de Convidados</a>
                </div>
            </div>

        </div>
       
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Buffet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a> - <a asp-area="" asp-controller="Home" asp-action="Terms">Termos de Uso</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
