@model Buffet.ViewModels.LoginViewModel;

@{
    ViewData["Title"] = "Painel de Usuário";
}

<div class="container">
    <p class="h2 text-center">Painel de Usuário</p>
    <div class="row">
        <div class="col">
            <div class="card">
                <p class="card-header h4">Seus dados</p>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" value="@Model.Email" id="email">
                        </div>
                        <input type="submit" value="Editar informações">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

</div>

