@{
    ViewData["Title"] = "Recuperação de Conta";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh">
        <div class="col-md-5 border  rounded-lg shadow-lg p-4">
            <p class="h2 text-center">Recuperação de Conta</p>
            <form>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control btn-lg btn-block  py-4" id="nome" placeholder="Nome...">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control  btn-lg btn-block py-4" id="email" aria-describedby="emailHelp" placeholder="Email...">
                </div>
                <div class="form-group">
                    <label for="email-conf">Confirmar Email</label>
                    <input type="email" class="form-control  btn-lg btn-block py-4" id="email-conf" aria-describedby="emailHelp" placeholder="Confirmar Email...">
                </div>
                <!--<button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Entrar</button>-->
                <a class="nav-link text-dark text-center mt-3" asp-area="" asp-controller="Home" asp-action="Recovery">
                    <span class="btn btn-success mt-3 py-2 btn-lg w-50">Enviar</span>
                </a>
            </form>
        </div>
    </div>
</div>